[Unit]
Description=PAW PWA Frontend
After=network-online.target paw-api.service
Wants=network-online.target
Requires=paw-api.service

[Container]
Image=localhost/paw-pwa:latest
ContainerName=paw-pwa
RestartPolicy=always
PublishPort=80:80
PublishPort=443:443
Network=host

[Service]
Restart=always
RestartSec=10
Type=exec
